form {
  display: flex;
  align-items: center;
  width: 700px;
}
.file_inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}
input {
  color: black;
  margin: 50px 0;
  height: 25px;
  width: 200px;
}

.file_input {
  font: bold 20px Arial;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  height: 25px;
  width: 161px;
  padding: 12px 16px;
  background: #F66655;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 50px 0 30px 0;
}

.file_input:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.02);
}

input[type="file"], input[type="submit"] {
  position: absolute;
  left: -99999rem;
  font-size: 20px;
  color: white;
  /* left: 40em; */
}